/*
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
}

.navbar {
    background-color: #fff !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    color: #565387 !important;
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid #565387;
}


.navbar a:hover {
    color: #3498db !important;
}

@media (max-width: 991px){
    .navbar-brand{
        font-size: 1.5rem !important;
    }
    .menu_active {
        font-weight: bold;
        border-bottom: none;
    }
}

#header {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

#header .brand-name {
    color: #3498db;

}

#header h2 {
    color: #484848;
    font-size: 24px;
}

#header .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
}

#header .btn-get-started:hover {
    background: #3498db;
    color: #fff;
}

.header-img {
    text-align: right;
}

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


@-webkit-keyframes up-down {

    0% {

        transform: translateY(10px);

    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {

    0% {

        transform: translateY(10px);

    }

    100% {
        transform: translateY(-10px);
    }
}

.conatct_div {
    width: 100%;
    height: 75vh;
}

footer p {
    
    padding: 0;
    margin: 0;

}

*/

/*   Weather app css   */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

body {
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    font-family: 'Jost', sans-serif;
}

html {
    font-size: 100%;
    height: 100%;
}

html {
    background: #eee;
}

.box {
    width: 25vw;
    height: 60vh;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
    transform: translate(0,0,0);
    min-width: 20rem;
    min-height: 30rem;
}

.wave {
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;

}
.wave.-three {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
  }

  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
  }

  .box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }

  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
  

  

.inputData {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;   
}
.inputFeild {
    width: 80%;
    margin-top: 15px;
    border-radius: 4rem;
    padding: 1rem 1rem;
    outline: none;
    font-size: 1.5rem;
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
}
.location {
    margin-top: -3.5rem;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}


.temp {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
}
.tempmin_max {
    text-align: center;
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: #57606f;
}  